
.metadata/.lock
.metadata/.log
.metadata/.mylyn/repositories.xml.zip
.metadata/.plugins/org.eclipse.core.resources/.history/1a/a0f466b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/1e/40ce6fb87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/35/00e651b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/36/30f7c529c065001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/39/90206eb87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/3f/7017a1b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/41/f033d5a0bf65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/42/a0d3d5e0c065001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/4e/608435b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/4e/f0e336b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/51/100bf212c165001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/53/70a69eb87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/54/40ec6ab87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/59/80a45b56b065001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/5e/30781e3dbf65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/6/b0b838b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/69/d0aa0259bf65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/6e/30100c2fc065001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/6f/102893ecbf65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/74/e0726cb87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/7c/b05465a3bf65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/7d/0069ae37bf65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/8/0049f3a5b365001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/8f/50b5626bae65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/92/c0a10787be65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/98/c0fd33b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/9a/c00671b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/a0/40183ab87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/b4/d0773bb87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/b8/502cdd42ae65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/b9/00d85973c365001e1ad4f784372a9a50
.metadata/.plugins/org.eclipse.core.resources/.history/ba/006e65b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/c3/f023b320ae65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/ca/803e7bafc065001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/cf/a06569b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/d0/e048d68ab165001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/d5/30a206a8bf65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/de/10d512427a65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/e5/802b3d59ae65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/e5/a06ea6b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/ec/e0facdf5bf65001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/f1/007b7ca1c065001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.history/f7/709424b87865001e17948539da0e1160
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.location
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/.org.eclipse.egit.core.cmp/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Megathlon/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Megathlon/.indexes/e4/b9/22/81/fb/44/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Megathlon/.indexes/e4/b9/b3/47/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Megathlon/.indexes/e4/b9/b3/de/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Megathlon/.indexes/e4/b9/b3/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Megathlon/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Megathlon/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Megathlon/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Megathlon/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/c7/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/.syncinfo.snap
.metadata/.plugins/org.eclipse.core.resources/.projects/Servers/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.resources/0.snap
.metadata/.plugins/org.eclipse.core.runtime/.settings/com.genuitec.eclipse.codetogether.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.junit.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.server.tomcat.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.api.tools.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.browser.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.navigator.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.urischeme.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.web.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.server.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
.metadata/.plugins/org.eclipse.debug.core/.launches/_stockDB.launch
.metadata/.plugins/org.eclipse.debug.core/.launches/Tomcat v8.5 Server at localhost.launch
.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.project
.metadata/.plugins/org.eclipse.egit.core/.org.eclipse.egit.core.cmp/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.jdt.core/1696264553.index
.metadata/.plugins/org.eclipse.jdt.core/1777837068.index
.metadata/.plugins/org.eclipse.jdt.core/182051410.index
.metadata/.plugins/org.eclipse.jdt.core/1865797976.index
.metadata/.plugins/org.eclipse.jdt.core/2175760955.index
.metadata/.plugins/org.eclipse.jdt.core/2204012311.index
.metadata/.plugins/org.eclipse.jdt.core/2212164135.index
.metadata/.plugins/org.eclipse.jdt.core/2233129664.index
.metadata/.plugins/org.eclipse.jdt.core/2673648810.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/participantsIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/0.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/1.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/2.png
.metadata/.plugins/org.eclipse.jdt.ui/jdt-images/3.png
.metadata/.plugins/org.eclipse.jst.j2ee.web/webLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.j2ee/earLibrariesCache.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/2547210847.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/3997682116.index
.metadata/.plugins/org.eclipse.jst.jsp.core/jspsearch/771998134.index
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/1154084110.translator
.metadata/.plugins/org.eclipse.jst.jsp.core/translators/835823242.translator
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Megathlon/2023/10/41/refactorings.history
.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/Megathlon/2023/10/41/refactorings.index
.metadata/.plugins/org.eclipse.m2e.core/Megathlon.lifecyclemapping
.metadata/.plugins/org.eclipse.m2e.core/workspacestate.properties
.metadata/.plugins/org.eclipse.m2e.core/workspaceState.ser
.metadata/.plugins/org.eclipse.m2e.jdt/Megathlon.container
.metadata/.plugins/org.eclipse.m2e.logback/0.log
.metadata/.plugins/org.eclipse.m2e.logback/logback.2.2.0.20230625-0847.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
.metadata/.plugins/org.eclipse.wildwebdeveloper.xml/system-catalog.xml
.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/1575972218.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2070742906.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2123327157.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/2175760955.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3002534332.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/3421921949.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/352871859.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/4036518119.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/4060883776.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/4083268961.index
.metadata/.plugins/org.eclipse.wst.jsdt.core/indexes/savedIndexNames.txt
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/2547210847.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/3997682116.index
.metadata/.plugins/org.eclipse.wst.jsdt.web.core/jssearch/771998134.index
.metadata/.plugins/org.eclipse.wst.server.core/modules.xml
.metadata/.plugins/org.eclipse.wst.server.core/publish.xml
.metadata/.plugins/org.eclipse.wst.server.core/publish/publish0.dat
.metadata/.plugins/org.eclipse.wst.server.core/servers.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp-data.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.policy
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/catalina.properties
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/context.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/server.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/tomcat-users.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/conf/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/logs/localhost_access_log.2023-10-08.txt
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/CreateProduct_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/CreateProduct_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/inc/NavBar_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/inc/NavBar_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/jsp/homepage_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/jsp/homepage_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/ListSupplier_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/ListSupplier_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/ProductsList_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/ProductsList_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/test_002dsales_jsp.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/work/Catalina/localhost/Megathlon/org/apache/jsp/test_002dsales_jsp.java
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/Brand.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/CreateProduct.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/css/adminlte.min.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/css/all.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/css/all.min.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/css/daterangepicker.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/css/icheck-bootstrap.min.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/css/OverlayScrollbars.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/css/OverlayScrollbars.min.css
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/img/Megathlon logo.png
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/img/user.jpg
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/index.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/js/accountsFx.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/js/adminlte.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/js/adminlte.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/js/bootstrap.bundle.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/js/jquery.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/js/jquery.overlayScrollbars.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/js/jquery.overlayScrollbars.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/js/OverlayScrollbars.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/js/OverlayScrollbars.min.js
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/jsp/ForgotPass.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/jsp/homepage.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/jsp/ListSupplier.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/jsp/Login.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/jsp/Register.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/jsp/test-sales.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/jsp/UserProfile.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/META-INF/MANIFEST.MF
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/META-INF/maven/com/Megathlon/pom.properties
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/META-INF/maven/com/Megathlon/pom.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/NavBar.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/product-aside.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/ProductEdit.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/ProductsList.jsp
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Beans/Account.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Beans/Brand.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Beans/Product.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Beans/Stock.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Beans/Suppliers.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/AddBrand.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/CreateProduct.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/ForgotPass.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/Login.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/ManageSupplierList.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/ProductEdit.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/ProductList.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/Register.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/stockDB.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/Supplier.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/SupplierList.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Controller/UserProfile.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Model/AccountDB.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Model/myDatabase.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/classes/com/Megathlon/Model/SupplierDB.class
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/lib/mysql-connector-j-8.0.33.jar
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/lib/protobuf-java-3.21.9.jar
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/Megathlon/WEB-INF/web.xml
.metadata/.plugins/org.eclipse.wst.server.core/tmp0/wtpwebapps/ROOT/WEB-INF/web.xml
.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
.metadata/.plugins/org.eclipse.wst.validation/dep.index
.metadata/.plugins/org.eclipse.wst.xml.core/default_catalog.xml
.metadata/.plugins/org.eclipse.wst.xml.core/system_catalog.xml
.metadata/version.ini
